<div id="typography" class="container mb-5">
    <div class="section-title col-xl-12 col-md-10 ml-auto mr-auto">
        <div class="example col-md-10 ml-auto mr-auto">
            <div class = "pt-5">
            
                <h3 style="text-align:left;"><%= image_tag("ror.png", :alt => "rss feed", size: "120x45") %><span style="float:right;"><%= @jobs.count%> jobs found </span></h3>
                <table class="table table-striped table-responsive-md" style="margin-top:30px;">
                    <thead class="thead-dark">
                        <tr>
                            <th colspan='1' style="text-align:center;">Job Title</th>
                            <th colspan='1' style="text-align:center; white-space: nowrap;">List Date</th>
                            <th colspan='1' style="text-align:center;">Company</th>
                            <th colspan='1' style="text-align:center;">Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @jobs.each do |job| %>
                            <tr>
                                <td colspan='1'>
                                <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#myModal<%= job.id %>"><%= job.title %></button>
                                
                                <!-- Modal -->

                                    <div class="modal fade bd-example-modal-lg" id="myModal<%= job.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title" id="myModalLabel"><%= job.title %></h4>
                                                </div>
                                                <div class="modal-body">
                                                    <%= job.description.html_safe %>
                                                    <br><br>
                                                    <p>Job Post Date:
                                                    <%= job.date %></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <h6>Link:<%= link_to image_tag("linkedin.png"), job.link, target: :_blank %></h6>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                                    <button type="button" class="btn btn-primary">Save changes</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td colspan='1' style="text-align:center;">
                                    <h6><%= job.date %></h6>
                                </td>
                                <td colspan='1' style="text-align:center;">
                                    <h6><%= job.company %></h6>
                                </td>
                                <td colspan='1' style="text-align:center;">
                                    <h5><%= link_to image_tag("linkedin.png"), job.link, target: :_blank %></h5>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <p style="text-align:center; margin-top:50px"><%= link_to 'Start New Search', new_job_path, class: "btn btn-warning"%></p>
            </div>
        </div>
    </div>
</div>