<div id="typography" class="container mb-5">
    <div class="section-title col-xl-12 col-md-10 ml-auto mr-auto">
        <div class="example col-md-10 ml-auto mr-auto">
            <div class = "pt-5">
            
                <h3 style="text-align:left;"><%= image_tag("ror.png", :alt => "rss feed", size: "120x45") %><span style="float:right;"><%= @jobs.count%> jobs found </span></h3>
                <table class="table table-striped table-responsive-md" style="margin-top:30px;">
                    <thead class="thead-dark">
                        <tr>
                            <th style="text-align:center; width: 35%;">Job Title</th>
                            <th style="text-align:center; width: 30%;">Company</th>
                            <th style="text-align:center; white-space: nowrap; width: 15%;">List Date</th>
                            <th style="text-align:center; width: 10%;">Link</th>
                            <th style="text-align:center; width: 10%;">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @jobs.each do |job| %>
                            <tr>
                                <td>
                                <button type="button" class="btn btn-secondary btn-lg" data-toggle="modal" data-target="#myModal<%= job.id %>"><%= job.title %></button>

                                    <div class="modal fade bd-example-modal-lg" id="myModal<%= job.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
                                        <div class="modal-dialog modal-lg" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title" id="myModalLabel"><%= job.title %></h4>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                                                </div>
                                                <div class="modal-body">
                                                    <%= job.description.html_safe %>
                                                    <br><br>
                                                    <p>Job Post Date:
                                                    <%= job.date %></p>
                                                </div>
                                                <div class="modal-footer">
                                                    <h6>Link:<%= link_to image_tag("linkedin.png"), job.link, target: :_blank %></h6>
                                                    <h5><%= link_to 'Delete', job, class: "badge badge-danger ml-3", method: :delete, data: { confirm: "Are you sure?" } %></h5>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td style="text-align:center;">
                                    <h6><%= job.company %></h6>
                                </td>
                                <td style="text-align:center;">
                                    <h6><%= job.date %></h6>
                                </td>
                                <td style="text-align:center;">
                                    <h5><%= link_to image_tag("linkedin.png"), job.link, target: :_blank %></h5>
                                </td>
                                <td style="text-align:center;">
                                    <h5><%= link_to 'Delete', job, class: "badge badge-danger", method: :delete, data: { confirm: "Are you sure?" } %></h5>
                                </td>
                            </tr>
                        <% end %>
                    </tbody>
                </table>
                <p style="text-align:center; margin-top:50px"><%= link_to 'Start New Search', new_job_path, class: "btn btn-warning"%>  |  <%= link_to 'Delete All', delete_all_jobs_path(@jobs) , class: "btn btn-danger"%></p>
            </div>
        </div>
    </div>
</div>